* {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}


body main {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}



header {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    width: 100%;
}

header h1 {
    margin: 20px;
}

.heading-buttons {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    margin-bottom: 20px;
    margin: 20px;
    width: 100%;
}
.btn {
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
.a-voltar {
    color: #0F35FF;
    cursor: pointer;
}
.btn-salvar {
    background-color: #4F9E42;
}
.btn-pesquisar {
    float: right;
    background-color: #42839e;
}
.btn-novo {
    float: right;
    background-color: #0037fb;
}
.btn-icon {
    font-weight: 600;
    margin-right: 20px;
}



.form-login {
    margin-left: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 50%;
    max-width: 377px;
}
.form-group label {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}
.form-group label i {
    font-size: 0.5rem;
    margin-left: 2px;
    color: #FF0000;
}
.form-group input {
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    height: 34px;
}

.form-consulta {
    display: flex;
    justify-items: center;
}



.column {
    float: left;
    width: 50%;
}

.table-query {
    float:left;
    width:100%;
    margin-top: 30px;
}

.table-query thead tr th {
    border-bottom: 2px solid #000;    
}

.table-query tbody tr td {
    padding: 5px;
}

.table-query .fa-trash {
    color: #FF0000;
}