.App {
  max-width: 100%;
  padding: 0 27px 0 27px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/*
  Body
*/
  .Body-banner {
    width: 100%;
    height: 100%;
    background-image: url("https://localhost:3000/banner.jpg");
    background-size: cover;
  }

  .Body-title {
    color: #f7941d;
    font-size: 5rem;
    margin-bottom: 10px;
  }

  .Body-paragraph {
    font-size: 1.5rem;
    line-height: 1.5;
  }


  .Modal-Client {
    width: 100%;
  }
/*
  /Body
*/