*, :root {
  margin: 0;
  padding: 0;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.card {
  min-height: 200px;
  min-width: 200px;
}

.card-content {
  display: flex;
  flex-flow: wrap column;
  gap: 2rem;
}

.card-footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}