<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
</head>
<body>
    <h1>Lista de Produtos</h1>

    <button onclick="location.href='/produto'">
        Novo
    </button>

    <table border="1" width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="produto : ${produtos}">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.valor}"></td>
            <td>
              <a th:href="@{/produto/editar/{id}(id=${produto.id})}">
                Editar
              </a>
            </td>
            <td>
              <a th:href="@{/produto/excluir/{id}(id=${produto.id})}">
                Excluir
              </a>
            </td>
          </tr>
        </tbody>
      </table>
</body>
</html>