:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}



html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}



div {
    width: 200px;
    height: 200px;
    background: #ff0000;
    border: 10px solid #000;
    padding: 35px 45px;
    margin: 35px 45px;
}


p {
    background: #008000;
    color: #FFF;
    width: 135px;
    height: 80px;
    padding: 25px;
    border: 10px solid #000;
    margin: 35px;
}