.card {
    min-height: 200px;
    min-width: 200px;
  }
  
  .card-content {
    display: flex;
    flex-flow: wrap column;
    gap: 2rem;
  }
  
  .card-footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }