/*
  Header
*/
.App-header {
    display: flex;
    padding: 27px;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
  }

  .App-logo {
    height: 6vmin;
    pointer-events: none;
  }


  /*
    Menu
  */
    .App-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .App-menu-list {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .App-menu-list-item a {
      display: inline-block;
      color: #004587;
      font-size: 16px;
      padding: 12px 20px;
      border-radius: 10px;
      transition: all .3s ease-in-out;
      text-decoration: none;
    }
    .App-menu-list-item a:hover {
      color: #FFF;
      background-color: #004587;
      border-radius: 10px;
      transition: all .3s ease-in-out;
    }
  /*
    /Menu
  */
/*
  /Header
*/